
body {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #2f2f2f;
    margin: 0;
    padding: 20px;
    background-color: #f0f8ff
}
header {
    background-color: #333;
    color: beige;
    padding: 10px 0;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display:grid;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}
.product img {
    max-width: 100%;
    height: auto;
}

h1{
  color: brown; 
  font-size: 40px; 
  text-align: center;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: black;
    margin: 10px 0;
  }
  

form {
    width: 400px;
    margin: 0 auto 30px auto;
  }
  
  textarea {
    display: inline-block;
    width: 80%;
    height: 100px;
    border: 1px solid gray;
    padding: 10x;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  form button[type="submit"] {
    border:solid;
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 200;
    text-transform: uppercase;
    background-color: burlywood;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
  }

.user {
  background-color: gray;
  padding: 10 px;
  font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 200;
    color: black;

}

img {
  max-width: 80%;
  height: auto;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  filter: grayscale(30%);
  transform: rotate(15deg);
  transition: transform 0.3s ease-in-out;
} 

img:hover {
  transform: scale(1.1) rotate(0deg);
}

.add-to-cart-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #2980b9;
}

.add-to-cart-button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}